@import 'compass/css3/flexbox';

@mixin thumbnail() {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    font-size: 1em;
    text-align: left; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;


    &:before {
        content: '';
        position: absolute;
        top: 40%;
        max-height: 60%;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 80%);
        opacity: 1; 
    }
        
    .cld-thumbnail-img {
        display: none;
    }
}

.cld-thumbnail {
    @include thumbnail();
}

@media only screen and (max-width: 768px) {
    .cld-thumbnail:before {
        background: none;
    }
}

