{
  "presets": [
    "latest",
    ["env", {"modules": false}]
  ],
  "plugins": [
    "babel-plugin-transform-class-properties",
    "babel-plugin-transform-object-rest-spread"
  ],
   "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}