# IDE
.idea/
.tern-port
tags

# nodejs
node_modules/
npm-debug.log
yarn-error.log

# project
env.js
dist/
lib/
.DS_Store

# Test coverage
coverage/
.vitest/

\.history/

# playwright e2e tests

/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/