@mixin flex-row-align-start-stretch() {
    // flex 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

@mixin flex-row-align-space-between-stretch() {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

@mixin flex-column-align-start-stretch() {
    display: flex;
    flex-direction: column;
}