.vjs-control-bar .vjs-menu-button.vjs-source-switcher-button {
  background-image: url("../../assets/icons/source_switcher_icon_for_black_bg.svg");
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
  color: inherit;
  opacity: 0.9;

  .cld-video-player-skin-light & {
    background-image: url("../../assets/icons/source_switcher_icon_for_white_bg.svg");
  }

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}
