$width: 20%;
.cld-spbl-bar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: 1;
}
.cld-spbl-bar-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX($width);
  transition: transform .3s;
}
.cld-video-player .vjs-control-bar {
  transition: width .3s;
}
.shoppable-panel-visible {
  .cld-spbl-bar-inner {
    transform: translateX(0);
  }
  .vjs-control-bar {
    width: 100% - $width;
  }
  .cld-spbl-toggle-icon:before {
    content: "\f119";
  }
}
.cld-spbl-banner-msg {
  position: absolute;
  font-size: 2em;
  text-shadow: 0 0 5px rgba(#000, .5);
  left: 0;
  top: calc(50% + 3em);
  width: 100%;
  text-align: center;
  .cld-video-player.vjs-has-started &,
  .cld-video-player.vjs-error & {
    display: none;
  }
}
.cld-spbl-toggle {
  position: absolute;
  top: 3%;
  right: $width;
  color: inherit;
  border-radius: 6px 0 0 6px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  pointer-events: all;
  text-decoration: none;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }
}
.cld-spbl-toggle-icon {

  // Custom toggle icon
  &.cld-spbl-toggle-custom-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    .shoppable-panel-hidden & {
      &:before {
        display: none;
      }
    }
    .shoppable-panel-visible & {
      background-image: none !important;
    }
  }

  // Animate
  display: block;
  animation-duration: 1s;
  animation-fill-mode: both;
  &.animate,
  .shoppable-panel-hidden &:hover {
    animation-name: tada;
    animation-iteration-count: infinite;
  }

}
.cld-spbl-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: $width;
  overflow: auto;
  pointer-events: all;

  // Hide scrollbar
  -ms-overflow-style: none;  // Internet Explorer 10+
  scrollbar-width: none;  // Firefox
  &::-webkit-scrollbar {
    display: none;  // Safari and Chrome
  }
}
.cld-spbl-item {
  display: block;
  position: relative;
  margin: 12px 8px;
  color: inherit;
  transform: scale(0.98);
  transition: transform .4s;
  &.active {
    transform: scale(1);
    &:before,
    &:after {
      content:  "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 0;
      pointer-events: none;
      box-shadow: 0 0 0 4px;
      border-radius: 3px;
    }
    &:before {
      opacity: .5;
      box-shadow: 0 0 0 4px;
    }
    &:after {
      box-shadow: 0 0 0 2px;
    }

  }
  &:hover {
    color: inherit;
  }
}
.cld-spbl-img {
  max-width: 100%;
  height: auto;
}
.cld-spbl-item-info {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 6px;
}
.cld-spbl-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 120%;
  padding: 16px;
  display: none;
}
.cld-spbl-item:hover {
  .cld-spbl-overlay {
    display: block;
    ~ .cld-spbl-item-info {
      display: none;
    }
  }
}

.cld-spbl-post-play {
  .cld-spbl-post-play-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
  }
  .cld-spbl-panel {
    width:  100%;
    top: 15%;
    height: 60%;
    padding: 20px 8px;
    white-space: nowrap;
    background: none !important;
  }
  .cld-spbl-item {
    display: inline-block;
    width: 28%;
    padding-top: 28%;
    margin: 0 8px;
    white-space: normal;
    vertical-align: top;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px 1.2px rgba(0,0,0,0.24), 0 6px 8px 4px rgba(0,0,0,0.24);
    transform: none;
  }
  .cld-spbl-img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto auto;
  }
  .cld-spbl-replay-btn {
    position: absolute;
    left: 5%;
    bottom: 10%;
    font-family: inherit;
    padding: 8px 15px;
    border-radius: 5px;
    &:before {
      font-family: VideoJS;
      vertical-align: bottom;
      margin-right: 4px;
    }
  }
}

.cld-spbl-post-modal {
  .cld-spbl-bar,
  .vjs-big-play-button,
  .vjs-recommendations-overlay {
    display: none;
  }
}

@keyframes tada {
  0% {
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
