$width: 30%;
.cld-spbl-bar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
}
.cld-spbl-bar-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX($width);
  transition: transform .2s;
}
.cld-video-player .vjs-control-bar {
  transition: width .2s;
}
.shoppable-panel-visible {
  .cld-spbl-bar-inner {
    transform: translateX(0);
  }
  .vjs-control-bar {
    width: 100% - $width;
  }
  .cld-spbl-toggle:before {
    content: "\f119";
  }
}
.cld-spbl-toggle {
  position: absolute;
  top: 3%;
  right: $width;
  background: #fff;
  color: #444;
  border-radius: 6px 0 0 6px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  text-align: center;
  pointer-events: all;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }
}
.cld-spbl-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: $width;
  overflow: auto;
  pointer-events: all;
}
.cld-spbl-item {
  display: block;
  position: relative;
}
.cld-spbl-img {
  max-width: 100%;
  height: auto;
}
.cld-spbl-item-info {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 12px 6px 6px 6px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5) 100%);
  color: #fff;
}
.cld-spbl-tooltip {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .6) 100%);
  color: #111;
  text-align: center;
  font-size: 120%;
  padding: 16px;
  display: none;
}
.cld-spbl-item:hover {
  .cld-spbl-tooltip {
    display: block;
    ~ .cld-spbl-item-info {
      display: none;
    }
  }
}
