name: Video Player PR

on:
  workflow_dispatch:

env:
  CI: true

jobs:
  e2e:
    name: install
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Node setup
        uses: ./.github/actions/node-setup

      - name: Fast Install
        run: npm install

      - name: E2E tests
        run: npm run test:e2e

      - name: Upload report to artifact
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
         name: playwright-report
         path: playwright-report/
         retention-days: 30

#      - name: Deploy report to Github Pages
#        if: always()
#        uses: peaceiris/actions-gh-pages@v3
#        with:
#          github_token: ${{ secrets.GITHUB_TOKEN }}
#          publish_dir: playwright-report



